.admin{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.admin h1{
    font-size: 1.5em;
 }
 .admin h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.6em;
 }
.admin span{
    font-weight: 700;
    text-transform: uppercase;
 }
.admin_header{
    display: flex;
    justify-content: space-between;
}
.midias{
    display: flex;
    gap: 1rem;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}