.ManageUsers {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background: linear-gradient(to bottom, #000000, #333333,  #000000);
   padding: 1em;
}

.ManageUsers h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2.2em;
   color: #ffff;
}
.ManageUsers .get {
   text-align: center;
}
.ManageUsers .get li {
    color: #333;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-width: 20%;
    gap: 1em;
 }

.ManageUsers .users {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   list-style: none;
   padding: 0;
}
.ManageUsers .users .content{
   text-align: left;
   overflow: hidden;
}
.ManageUsers footer {
   margin-top: auto;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}

.ManageUsers footer .search {
   margin-top: auto;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 2em;
}
