.navbar {
    display: flex;
    box-shadow: rgba(0,0,0, .15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
    font-size: 1.5em;
}

.brand {
    font-size: 1em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.link_list {
    display: flex;
    list-style: none;
}

.link_list li{
    background-color: #333;
    margin-right: 1em;
    border-radius: 0.4rem;
}
.link_list li:last-child {
    background-color: transparent;
}

.link_list li:hover{
    color: #c8c8c8;
}

.link_list li a {
    padding: .4em .6em;
}

.active {
    background-color: #000;
    color: #fff;
}