.Landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}

.Landing h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.Landing p {
  font-size: 18px;
  line-height: 1.5;
}

.Landing span {
  font-weight: bold;
  color: #0074cc;
}

.Landing button {
  background-color: #0074cc;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.Landing button:hover {
  background-color: #005aa0;
}

.Landing img {
    max-width: 800px;
    height: auto;
  }
