.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    padding-bottom: 1.5em;
  }
  
  .card_image {
    height: auto;
  }
  
  
  .card_title {
    padding-inline: 0.5em;
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  
  .card_text {
    font-size: 1rem;
    color: rgb(231, 240, 231);
    padding-inline: 1em;
  }
  